@tailwind base;

*::-webkit-scrollbar {
  display: none
}
.fp-watermark {
  display: none !important;
}
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Basic';
  src: url('./fonts/NanumSquareNeo-Variable.ttf');
}

@font-face {
  font-family: 'empha';
  src: url('./fonts/ONE Mobile OTF Bold.otf');
}

@font-face {
  font-family: 'title';
  src: url('./fonts/SB 어그로 B.ttf');
}